$primary-btn-color = #1565C0

$error-modal-color = #B71C1C
$warn-modal-color = #EF5350
$info-modal-color = $primary-btn-color
$debug-modal-color = #2E7D32

$item-background-color = #BBDEFB
$status-available-color = #388E3C
$status-checked-out-color = #EF5350
$status-saved-color = #00897B

$model-background-color = #90CAF9
