.model-form

    padding-left: 1em
    font-family: sans-serif
    font-size: 14

    img
        max-width: 800px

    input[type=text]
        margin-bottom: 10px
        margin-top: 5px
        width: 30em

    input[type=number]
        margin-bottom: 10px
        margin-top: 5px
        width: 5em

    input[type=checkbox]
        margin-bottom: 10px

    textarea
        margin-bottom: 10px
        margin-top: 5px
        width: 30em
        font-family: inherit
