.create-item-form

    select
        margin: 1em
        padding: .2em
        border-radius: .3em
        font-weight: bold
        width: 15em

    button
        margin: 5px

    img
        max-width: 200px
        max-height: 200px
        margin: 0 1em 1em

    h1
        margin-bottom: 0
