#index
    padding-left: 20%
    padding-right: 20%

    #links
        align-items: center
        display: flex
        flex-direction: row
        flex-wrap: wrap
        font-size: 1.125rem
        justify-content: center
        padding: 5px
        text-transform: uppercase

        div
            align-items: center
            border-radius: 3px
            cursor: pointer
            display: flex
            height: 8em
            width: 10em
            margin: 1em 2em
            justify-content: center
            text-align: center

            &:hover
                background-color: darken(#f3f3f3, 10%)

            &:active
                background-color: darken(#f3f3f3, 20%)

            span
                padding: 0.25em

            img
                padding: 0.25em
                height: 2.5em
