#index
    padding-left: 10%
    padding-right: 10%

    #links
        align-items: center
        display: flex
        flex-direction: row
        flex-wrap: wrap
        font-variant-caps: small-caps
        justify-content: center
        padding: 5px

        div
            align-items: center
            background-color: darken(#f3f3f3, 10%)
            border-radius: 3px
            cursor: pointer
            display: flex
            font-size: 1.5em
            height: 4.5em
            justify-content: center
            margin: 0.375em
            text-align: center
            width: 10em

            span
                padding: 0.25em
