#inventory-system
    padding:30px

    .list-container
        width: 40%

        .item-list
            background: white
            height: 500px
            width: 100%
            overflow:scroll
