.item
    background: lightblue
    display: block
    height: auto
    padding: 5px
    margin-bottom: 5px
    border-radius: 20px
    word-wrap: break-word

    .picArea
        display: inline-block
        vertical-align: top
        padding: 7px

        img
            height: 75px
            width:inherit

    .titleArea
        display: inline-block
        vertical-align: top
        width: 10%

        h2
            text-align: center
            margin: 0

        .modelLink
            display: block
            text-align: center

    .infoArea
        display: inline-block
        vertical-align: top
        width: 70%

        .descriptionArea
            display: inline-block
            vertical-align: top
            padding-right: 10px
            width: 40%

            h3
                text-align: left
                margin: 0

            p
                margin: 0
                padding-top: 5px
        .faultArea
            display: inline-block
            width: 30%
            vertical-align: top

            h3
                text-align: left
                margin: 0

            p
                margin: 0
                padding-top: 5px

        .faultHistory
            display: inline-block
            width: 25%

            h3
                text-align: left
                margin: 0


        .miscArea
            padding: 10px
            display: inline-block
            width: 20%
            vertical-align: top

    .actionArea
        display: inline-block
        vertical-align: top
        float: right
        padding-right: 10px

        img
            width: 50px
            height: 33px
            display: block
            padding: 5px
            &:hover
                background: lightgray
