@import 'colors.styl'

#items
    h1
        text-align: center
        margin: .2em
    .cool-button
        margin: .5em auto
        display: block

.item
    background: $item-background-color
    display: block
    height: auto
    padding: 5px
    margin: 5px
    border-radius: .2em
    word-wrap: break-word

    i
        color: grey

    .picArea
        display: inline-block
        padding: 5px

        img
            max-height: 100px
            max-width: 100px

    .titleArea
        display: inline-block
        vertical-align: top
        width: 20%

        .itemName
            font-size: 1.33em
            &:hover
                cursor: pointer
                color: lighten(black, 30%)

        .status
            padding: 0 .5em
            font-size: .9em
            color: white
            border-radius: .2em
            cursor: default
            display: inline-block;
            margin-top: .4em

        .AVAILABLE
            background: $status-available-color

        .CHECKED_OUT
            background: $status-checked-out-color

        .SAVED
            background: $status-saved-color

    .faultArea
        display: inline-block
        vertical-align: top
        width: 60%

        .faultInput
            display: inline-block
            width: 50%
            vertical-align: top

            .currentFault
                margin-right: 4em
                background: darken($item-background-color, 10%)
                border-radius: .2em
                padding: .1em .5em
                box-shadow: 0 .01em .1em grey

                img
                    float: right
                    height: 1.3em

            .faultTextBox
                background: darken($item-background-color, 2%)
                border: 1px solid darken($item-background-color, 2%)
                border-radius: .1em
                padding-left: .5em
                padding-bottom: 0
                margin: 1px 0
                width: calc(100% - 4em) 
                &:focus
                    outline: none

            h3
                text-align: left
                margin: 0

            p
                margin: 0
                padding-top: 5px

        .faultHistory
            display: inline-block
            width: 50%

            h3
                text-align: left
                margin: 0

        .faults
            overflow-y: auto
            max-height: 4em

    .actionArea
        display: inline-block
        vertical-align: top
        float: right
        padding-right: 10px

        img
            width: 25px
            display: block
            padding: 5px
