html, body
    width: 100%
    margin: 0

#children
    padding: 5px
    background: #f3f3f3
    height: 100%

.clear
    width: 0
    height: 0
    clear: both

textarea
    resize: none
    overflow: scroll

.center
    text-align: center

.link-nostyle
    color: inherit
    text-decoration: none

@media print
    .no-print
        display: none !important

@import 'student.styl'
@import 'omnibar.styl'
@import 'modal.styl'
@import 'models.styl'
@import 'create-model-form.styl'
@import 'create-item-form.styl'
@import 'index.styl'
@import 'items.styl'
@import 'toasts.styl'
@import 'overdue-items.styl'
@import 'printer.styl'
