html, body
    width: 100%
    margin: 0

#children
    padding: 5px
    background: #f3f3f3
    height: 100%

.clear
    width: 0
    height: 0
    clear: both

.cool-button
    background: #1565C0
    color: white
    padding: 8 12
    font-weight: bold
    cursor: pointer
    box-shadow: 0 .1em .1em grey
    border-style: none
    border-radius: 2px
    &:hover
        background: lighten(#1565C0, 10%)
    &:focus
        outline: none
        background: lighten(#1565C0, 10%)

.neat-secondary-button
    background: transparent
    color: #1565C0
    border-color: #1565C0
    border-style: solid
    border-radius: 2px
    border-width: 1px
    font-weight: bold
    cursor: pointer
    &:hover
        background: #1565C0
        color: white
    &:focus
        outline: none
        background: #1565C0
        color: white

textarea
    resize: none
    overflow: scroll

.center
    text-align: center

.link-nostyle
    color: inherit
    text-decoration: none

.disabled-text
    color: grey

@media print
    .no-print
        display: none !important

@import 'student.styl'
@import 'omnibar.styl'
@import 'modal.styl'
@import 'models.styl'
@import 'create-model-form.styl'
@import 'create-item-form.styl'
@import 'index.styl'
@import 'items.styl'
@import 'toasts.styl'
@import 'overdue-items.styl'
@import 'students.styl'
@import 'printer.styl'
