.modal
    align-items: center
    background: rgba(0, 0, 0, 0.4)
    display: flex
    height: 100%
    justify-content: center
    left: 0
    position: fixed
    top: 0
    width: 100%

.modal-content
    background: white
    border-radius: 0.5em
    padding: 1em

.debug
    background: lightgreen

.info
    background: lightblue

.warn
    background: lightyellow

.error
    background: lightred
