@import 'colors.styl'

.model
    display: block
    height: auto
    padding: 5px
    margin: 5px
    border-radius: .2em
    background: $model-background-color
    word-wrap: break-word

    i
        color: grey

    .picArea
        display: inline-block
        padding: .3em

        img
            width: 100px

    .titleArea
        display: inline-block
        vertical-align: top
        width: 40%

        .modelName
            font-size: 1.33em
            &:hover
                cursor: pointer
                color: lighten(black, 30%)

        .description
            overflow-y: auto
            max-height: 8em

    .infoArea
        display: inline-block
        vertical-align: top
        padding: .1em 1em
        width: 40%

    .actionArea
        display: inline-block
        vertical-align: top
        float: right
        padding-right: 10px

        img
            width: 25px
            display: block
            padding: 5px
