.model
    display: block
    height: auto
    padding: 5px
    margin: 4px
    border-radius: 6px
    background: #d6d6d6
    word-wrap: break-word

    .picArea
        display: inline-block
        vertical-align: middle
        padding: 7px

        img
            height: inherit
            width: inherit

    .titleArea
        display: inline-block
        vertical-align: top
        width: 10%
        margin: 7px

        h2
            margin: 0

        .address
            display: block
    .infoArea
        display: inline-block
        vertical-align: top
        width: 70%

        .descriptionArea
            display: inline-block
            vertical-align: top
            padding: 10px
            width: 40%

            h3
                margin: 0

            p
                margin: 0
                padding-top: 5px

        .faultArea
            display: inline-block
            padding:10px
            width: 30%
            vertical-align: top

            h3
                margin: 0

            p
                margin: 0
                padding-top: 5px

        .miscArea
            padding: 10px
            display: inline-block
            width: 20%
            vertical-align: top

    .actionArea
        display: inline-block
        vertical-align: top
        float: right
        padding-right: 10px

        img
            width: 24px
            display: block
            padding: 5px

            &:hover
                background: lighten(#d6d6d6, 50%)
