@import 'colors.styl'

.model-form

    h1
        margin-bottom: 0

    form
        display: inline-block
        padding:.5em 1.5em 1em 1em

    #thumbnail-preview
        max-width: 10em
        max-height: 10em
        margin-bottom: .75em

    .upload-select
        display: inline-block
        background-color: $primary-btn-color
        color: white
        padding: 8 12
        font-weight: bold
        cursor: pointer
        margin: .5em 0
        box-shadow: 0 .1em .1em grey
        border-radius: 2px
        &:hover
            background: lighten($primary-btn-color, 10%)

    .radio-buttons
        margin-bottom: .75em

    input[type=file]
        display: none

    input[type=text]
        margin-bottom: .75em
        margin-top: .5em
        width: 30em
        border-radius: .2em
        border: grey 1px solid
        padding: .2em .5em

    input[type=number]
        margin-bottom: .75em
        margin-top: .5em
        width: 5em
        border-radius: .2em
        border: grey 1px solid
        padding: .2em .5em

    input[type=checkbox]
        margin-bottom: .75em

    textarea
        margin-bottom: .75em
        margin-top: .5em
        width: 30em
        height: 10em
        max-height: 40em
        resize: vertical
        font-family: inherit
        border-radius: .2em
        border: grey 1px solid
        padding: .2em .5em
