.overdueItem
    background: lightblue
    display: block
    height: auto
    padding: 5px
    margin-bottom: 5px
    border-radius: .3em
    word-wrap: break-word
    width:100%

    .fakeLink
        cursor:pointer
        color: blue

    .picArea
        display: inline-block
        vertical-align: top
        padding: 1px 7px

        img
            height: 50px
            width:inherit

    .displayBlock
        width:40%

        .subBlock
            width:45%

    .modelItemArea
        display: inline-block
        vertical-align: top

        h2
            text-align: center
            margin: 0


        .modelArea
            display: inline-block
            vertical-align: top
            padding-right: 10px
            width:50%


            h3
                text-align: left
                margin: 0

            p
                margin: 0
                padding-top: 5px
        .itemArea
            display: inline-block
            vertical-align: top

            h3
                text-align: left
                margin: 0

            p
                margin: 0
                padding-top: 5px

    .infoArea
        display: inline-block
        vertical-align: top

        h2
            text-align: center
            margin: 0


        .descriptionArea
            display: inline-block
            vertical-align: top
            padding-right: 10px


            h3
                text-align: left
                margin: 0

            p
                margin: 0
                padding-top: 5px
        .dueOn
            display: inline-block
            vertical-align: top

            h3
                text-align: left
                margin: 0

            p
                margin: 0
                padding-top: 5px


    .actionArea
        display: inline-block
        vertical-align: top
        float: right
        padding-right: 10px

        img
            width: 50px
            height: 33px
            display: block
            padding: 5px
            &:hover
                background: lightgray
