.broken-item-report-table, .checkout-frequency-report-table
    width: 100%
    border-collapse: collapse

    td
        border: 1px solid black
        padding: 10px

    td.centered
        text-align: center
