#student
    display: grid
    grid-template-areas: "student cart"
    grid-template-rows: 1fr
    grid-template-columns: 1fr 1fr
    grid-gap: 12px 12px
    align-items: start

    margin: 24px 24px 0 24px

    .student
        grid-area: student
    .cart
        grid-area: cart

    .student, .cart
        padding: 12px
        box-sizing: border-box
        background-color: #d8d8d8
        border-radius: 3px
        box-shadow: 0 1px 0 #ccc

        .addr
            color: #777
            font-style: italic

        .overdue
            color: red

        .item-info, .model-info
            cursor: pointer
            background: #e5e5e5
            margin: 0.5em 0.5rem
            border-radius: 3px
            padding: 0.3em .8rem
            box-shadow: 0 1px 0 #ccc

            .name
                float: none
            .addr
                float: right
            .dueDate

            .buttons


            &:hover
                background: lighten(#e5e5e5, 15%)
