#student
    width: 90%
    margin: 24px auto 0 auto
    background-color: darken(#ffffff, 8%)

    .student, .cart
        width: calc(50% - 18px)
        margin: 12px
        padding: 12px
        box-sizing: border-box
        float: left
        background-color: darken(#ffffff, 16%)

        .item-info
            i
                color: #777
            background: #e1e1e1
            margin: 0.5em 0.5rem
            border-radius: 3px
            padding: 0.3em .8rem
            box-shadow: 0 1px 0 #ccc

    .cart
        margin-left: 0
