.create-student-form
    form
        padding 0 1em

    input[type=text]
        margin-bottom: .75em
        margin-top: .5em
        width: 30em
        border-radius: .2em
        border: grey 1px solid
        padding: .2em .5em

    input[type=number]
        margin-bottom: .75em
        margin-top: .5em
        width: 10em
        border-radius: .2em
        border: grey 1px solid
        padding: .2em .5em

    .cool-button
        margin-top .5em
