#toasts
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    padding-bottom: 1em

    .toast
        background-color: #464646
        color: #fbfbfb
        border-radius: 0.5em
        padding: 1em
        width: 20em
        margin: 0 auto 1em auto
        text-align: center
        cursor: pointer

        &:hover
            background-color: #727272
